# Utilize esse .env para configurar as variáveis de ambiente e os códigos da Open AI e Github


# ==========================================
# CONFIGURAÇÕES DO BANCO DE DADOS (POSTGRESQL)
# ==========================================

#
# Define "false" para parar de usar o SQLite padrão
USE_SQLITE=false 

# Substitua com seus dados reais de conexão local ou do servidor
# Padrão: postgresql://[usuario]:[senha]@localhost:[porta]/[nome_do_banco]?options=-csearch_path=[schema]
DATABASE_URL=postgresql://SEU_USUARIO:SUA_SENHA@localhost:5432/devpulse?options=-c%20search_path=devpulse


# ==========================================
# CHAVES DE TERCEIROS
# ==========================================

# Chave API da OpenAI (Deixe vazia para usar o modo de simulação nativo)
AI_API_KEY=sua_chave_da_openai_aqui

# (Opcional) Token de acesso do GitHub (Ajuda a burlar limites de requisição da versão free)
GITHUB_TOKEN=seu_token_do_github_aqui
