<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <header>
        <h1>🚀 DevPulse Dashboard</h1>
    </header>

    <div class="container">

        <div class="card">
            <h2>📁 Repositórios</h2>
            <p>Gerencie e visualize seus repositórios monitorados.</p>
            <a href="/repos"><button>Acessar</button></a>
        </div>

        <div class="card">
            <h2>📄 Relatórios</h2>
            <p>Veja análises de qualidade de código.</p>
            <a href="/report"><button>Ver Relatórios</button></a>
        </div>

    </div>

</body>

</html>